.mule/apps/api-platform-usage-metrics/api-platform-usage-metrics.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:cluster="http://www.mulesoft.org/schema/mule/ee/cluster" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:context="http://www.springframework.org/schema/context" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<configuration defaultExceptionStrategy-ref="exception-handler" doc:name="Configuration">
		<expression-language autoResolveVariables="false">
			<import class="org.apache.commons.lang3.StringEscapeUtils" />
			<import class="org.apache.commons.io.FilenameUtils" />
		</expression-language>
	</configuration>
	<context:property-placeholder location="config.properties" />
	<flow name="getApiPlatformMetrics">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/apiplatform/metrics" doc:name="HTTP" />
		<set-variable variableName="rootOrgId" value="${rootOrgId}" doc:name="rootOrgId" />
		<flow-ref name="getAnypointToken" doc:name="getAnypointToken" />
		<flow-ref name="getOrganizationHierarchyAndEnvironments" doc:name="getOrganizationHierarchyAndEnvironments" />
		<set-payload value="#[null]" doc:name="Set Payload" />
		<flow-ref name="getBasicMetrics" doc:name="getBasicMetrics" />
		<dw:transform-message doc:name="Transform Message">
			<dw:input-payload mimeType="application/java" />
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	totalNumberOfBusinessOrgs: sizeOf flowVars.orgIdList,
	totalNumberOfAPIDefinitions: payload.totalNumberOfAPIDefinitions,
	activeAPIs: payload.activeAPIs,
	exchangeAssets: payload.exchangeAssets,
	totalNumberOfUsers: payload.totalNumberOfUsers,
	totalNumberOfClientApplications: payload.totalNumberOfClientApplications,
	onPremRuntimeUsageStatistics: payload.runtimeUsageStatistics.onPremRuntimeUsageStatistics,
	cloudhubUsageStatistics: payload.runtimeUsageStatistics.cloudhubUsageStatistics,
	totalTransactionsProcessed: payload.totalTransactionsProcessed,
	totalTransactionsProcessedInProduction: "Work in progress",
	totalTransactionsProcessedInAcceptance: "Work in progress",
	totalTransactionsProcessedInDevelopment: "Work in progress",
	policiesBeingUsed: payload.policiesBeingUsed,
	policyApiAssociationList: payload.policyApiAssociationList,
	totalNumberOfUnsecureAPIs: payload.totalNumberOfUnsecureAPIs,
	totalNumberOfUndocumentedAPIs: payload.totalNumberOfUndocumentedAPIs,
	businessOrgs: payload.businessOrgs
}]]></dw:set-payload>
		</dw:transform-message>
		<exception-strategy ref="exception-handler" doc:name="Reference Exception Strategy" />
	</flow>
</mule>
