.mule/apps/api-platform-usage-metrics/common.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

	<flow name="getAnypointToken">
        <logger message="ExecutionId: #[flowVars.executionId] - Get Anypoint Token" level="INFO" doc:name="Logger"/>
		<set-payload value="username=${anypointUsername}&amp;password=${anypointPassword}" doc:name="setPayload" />
		<http:request config-ref="Anypoint_HTTPS_Connector" path="/accounts/login" method="POST" doc:name="getAnypointToken">
			<http:request-builder>
				<http:header headerName="Content-Type" value="application/x-www-form-urlencoded" />
			</http:request-builder>
			<http:success-status-code-validator values="0..599" />
		</http:request>
		<choice doc:name="Choice">
			<when expression="#[message.inboundProperties['http.status']=='200']">
				<dw:transform-message doc:name="JSON to Object">
					<dw:set-payload resource="classpath:transformations/map-json-to-object.dwl" />
				</dw:transform-message>
				<dw:transform-message doc:name="Set anypointToken variable">
					<dw:set-variable resource="classpath:variables/set-anypointToken-variable.dwl" variableName="anypointToken" />
				</dw:transform-message>
			</when>
			<otherwise>
				<logger level="ERROR" doc:name="Logger" message="ExecutionId: #[flowVars.executionId] - Logger after getAnypointToken call" />
				<scripting:component doc:name="Script">
					<scripting:script engine="Groovy"><![CDATA[throw new RuntimeException('Non 200 response received from AnypointPlatform while requesting token, no token received, impossible to proceed')]]></scripting:script>
				</scripting:component>
			</otherwise>
		</choice>
	</flow>
	<flow name="getOrganizationHierarchyAndEnvironments">
		<scatter-gather doc:name="Scatter-Gather">
			<processor-chain>
                <logger message="ExecutionId: #[flowVars.executionId] - Get Organization Hierarchy" level="INFO" doc:name="Logger"/>
				<http:request config-ref="Anypoint_HTTPS_Connector" path="${anypoint.accountsApi.uri}/{rootOrgId}/hierarchy" method="GET" doc:name="getOrgHierarchy">
					<http:request-builder>
						<http:uri-param paramName="rootOrgId" value="#[flowVars.rootOrgId]" />
						<http:header headerName="Authorization" value="Bearer #[flowVars.anypointToken]" />
					</http:request-builder>
					<http:success-status-code-validator values="0..599" />
				</http:request>
				<dw:transform-message doc:name="JSON to Object">
					<dw:set-payload resource="classpath:transformations/map-json-to-object.dwl" />
				</dw:transform-message>
			</processor-chain>
			<processor-chain>
                <logger message="ExecutionId: #[flowVars.executionId] - Get environments" level="INFO" doc:name="Logger"/>
				<http:request config-ref="Anypoint_HTTPS_Connector" path="${anypoint.accountsApi.uri}/{rootOrgId}/environments" method="GET" doc:name="getEnvironments">
					<http:request-builder>
						<http:uri-param paramName="rootOrgId" value="#[flowVars.rootOrgId]" />
						<http:header headerName="Authorization" value="Bearer #[flowVars.anypointToken]" />
					</http:request-builder>
					<http:success-status-code-validator values="0..599" />
				</http:request>
				<dw:transform-message doc:name="JSON to Object">
					<dw:set-payload resource="classpath:transformations/map-json-to-object.dwl" />
				</dw:transform-message>
			</processor-chain>
		</scatter-gather>
		<choice doc:name="rootOrgId is OK">
			<when expression="#[payload[0].id == flowVars.rootOrgId]">
				<choice doc:name="environments &gt; 0">
					<when expression="#[payload[1].data.size() > 0]">
						<dw:transform-message doc:name="Set orgIdNameMap, orgIdList and environments variables">
							<dw:set-variable resource="classpath:variables/set-orgIdNameMap-variable.dwl" variableName="orgIdNameMap" />
							<dw:set-variable resource="classpath:variables/set-orgIdList-variable.dwl" variableName="orgIdList" />
                            <dw:set-variable resource="classpath:variables/set-environments-variable.dwl" variableName="environments"/>
						</dw:transform-message>
					</when>
					<otherwise>
						<logger level="ERROR" doc:name="Logger" message="ExecutionId: #[flowVars.executionId] - Logger after getEnvironments call" />
						<scripting:component doc:name="Groovy">
							<scripting:script engine="Groovy"><![CDATA[throw new RuntimeException('Error received from AnypointPlatform while requesting environments, no data received, impossible to proceed')]]></scripting:script>
						</scripting:component>
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<logger level="ERROR" doc:name="Logger" message="ExecutionId: #[flowVars.executionId] - Logger after getHierarchy call" />
				<scripting:component doc:name="Script">
					<scripting:script engine="Groovy"><![CDATA[throw new RuntimeException('Error received from AnypointPlatform while requesting hierarchy, no data received, impossible to proceed')]]></scripting:script>
				</scripting:component>
			</otherwise>
		</choice>
	</flow>
	<flow name="getBasicMetrics">
        <logger message="ExecutionId: #[flowVars.executionId] - Get basic metrics" level="INFO" doc:name="Logger"/>
		<scatter-gather doc:name="Scatter-Gather">
			<flow-ref name="getTotalNumberOfAPIDefinitions" doc:name="getTotalNumberOfAPIDefinitions" />
			<flow-ref name="getTransactions" doc:name="getTransactions" />
			<flow-ref name="getTotalAssets" doc:name="getTotalAssets" />
			<flow-ref name="getTotalUsers" doc:name="getTotalUsers" />
			<flow-ref name="getApplications" doc:name="getApplications" />
			<flow-ref name="getRuntimeAppsStats" doc:name="getRuntimeAppsStats" />
			<flow-ref name="getPoliciesBeingUsed" doc:name="getPoliciesBeingUsed" />
            <flow-ref name="getActiveAPIs" doc:name="getActiveAPIs"/>
            <flow-ref name="getBusinessOrgs" doc:name="getBusinessOrgs"/>
		</scatter-gather>
		<dw:transform-message doc:name="Map collected metrics">
			<dw:input-payload mimeType="application/java" />
            <dw:set-payload resource="classpath:transformations/map-collected-metrics.dwl"/>
		</dw:transform-message>
	</flow>
</mule>
