sys-employee-api/src/main/app/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<flow name="get-employees-flow">
		<dw:transform-message doc:name="Set 'accept', 'offset' and 'maxResults' variables">
			<dw:input-payload mimeType="application/java" />
			<dw:set-variable resource="classpath:variables/set-offset-variable.dwl" variableName="offset" />
			<dw:set-variable resource="classpath:variables/set-max-results-variable.dwl" variableName="maxResults" />
			<dw:set-variable resource="classpath:variables/set-accept-variable.dwl" variableName="accept" />
		</dw:transform-message>
		<db:select config-ref="Generic_Database_Configuration" doc:name="GET employees">
			<db:parameterized-query><![CDATA[SELECT * 
FROM employees
ORDER BY no
OFFSET #[flowVars.offset] ROWS
FETCH NEXT #[flowVars.maxResults] ROWS ONLY;]]></db:parameterized-query>
		</db:select>
		<flow-ref name="map-response-flow" doc:name="map-response-flow" />
	</flow>
	<flow name="get-employees-by-id-flow">
		<dw:transform-message doc:name="Set 'accept' variable">
			<dw:input-payload mimeType="application/java" />
			<dw:set-variable resource="classpath:variables/set-accept-variable.dwl" variableName="accept" />
		</dw:transform-message>
		<db:select config-ref="Generic_Database_Configuration" doc:name="Find employee by employee_id">
			<db:parameterized-query><![CDATA[SELECT COUNT(*) AS QTY FROM employees WHERE no = #[flowVars.employee_id];]]></db:parameterized-query>
		</db:select>
		<choice doc:name="exist employee?">
			<when expression="#[payload[0].QTY > 0]">
				<db:select config-ref="Generic_Database_Configuration" doc:name="GET employee by employee_id">
					<db:parameterized-query><![CDATA[SELECT * FROM employees WHERE no = #[flowVars.employee_id];]]></db:parameterized-query>
				</db:select>
				<choice doc:name="XML response?">
					<when expression="#[flowVars.accept == 'application/xml']">
						<dw:transform-message doc:name="map to XML">
							<dw:input-payload mimeType="application/java" />
							<dw:set-payload resource="classpath:transformations/map-employee-to-xml.dwl" />
                            <dw:set-property resource="classpath:properties/set-mule-encoding.dwl" propertyName="MULE_ENCODING"/>
						</dw:transform-message>
					</when>
					<otherwise>
						<dw:transform-message doc:name="map to JSON">
							<dw:input-payload mimeType="application/java" />
							<dw:set-payload resource="classpath:transformations/map-employee-to-json.dwl" />
							<dw:set-property resource="classpath:properties/set-mule-encoding.dwl" propertyName="MULE_ENCODING"/>
						</dw:transform-message>
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<choice doc:name="XML response?">
					<when expression="#[flowVars.accept == 'application/xml']">
						<dw:transform-message doc:name="Set 404 status code">
							<dw:set-property resource="classpath:properties/set-404-status.dwl" propertyName="http.status" />
						</dw:transform-message>
						<set-payload value="#[null]" doc:name="Set NullPayload"/>
					</when>
					<otherwise>
						<dw:transform-message doc:name="Set 'Not Found' message">
							<dw:set-payload resource="classpath:transformations/set-not-found-message.dwl" />
							<dw:set-property resource="classpath:properties/set-404-status.dwl" propertyName="http.status" />
						</dw:transform-message>
					</otherwise>
				</choice>
			</otherwise>
		</choice>
	</flow>
	<flow name="post-employee-flow">
		<dw:transform-message doc:name="JSON to JAVA">
			<dw:set-payload resource="classpath:transformations/map-json-to-java.dwl" />
		</dw:transform-message>
		<db:insert config-ref="Generic_Database_Configuration" autoGeneratedKeys="true" autoGeneratedKeysColumnNames="no" doc:name="Create employee">
			<db:parameterized-query><![CDATA[INSERT INTO employees (dob,first_name,last_name,gender,hire_date) 
VALUES (#[payload.dateOfBirth],#[payload.firstName],#[payload.lastName],#[payload.gender],#[payload.hireDate]);]]></db:parameterized-query>
		</db:insert>
		<dw:transform-message doc:name="Set Location property">
			<dw:set-property resource="classpath:properties/set-http-location.dwl" propertyName="Location" />
		</dw:transform-message>
	</flow>
	<flow name="put-employee-flow">
		<dw:transform-message doc:name="JSON to JAVA">
			<dw:set-payload resource="classpath:transformations/map-json-to-java.dwl" />
		</dw:transform-message>
        <db:update config-ref="Generic_Database_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[UPDATE employees 
SET dob = #[payload.dateOfBirth], first_name = #[payload.firstName], last_name = #[payload.lastName], gender = #[payload.gender], hire_date = #[payload.hireDate]
WHERE no = #[flowVars.employee_id]]]></db:parameterized-query>
        </db:update>
		
	</flow>
	<flow name="delete-employee-flow">
		<db:delete config-ref="Generic_Database_Configuration" doc:name="Delete employee">
			<db:parameterized-query><![CDATA[DELETE FROM employees WHERE no = #[flowVars.employee_id];]]></db:parameterized-query>
		</db:delete>
		<dw:transform-message doc:name="Set 204 status code">
			<dw:set-property resource="classpath:properties/set-204-status.dwl" propertyName="http.status" />
		</dw:transform-message>
	</flow>
</mule>
